# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Tests
coverage
*.lcov

# IDE
.idea
.vscode
*.swp
*.swo

# Misc
.eslintcache
